<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      table.mail {text-align: left; color: #332;}
      .mail td {padding: 6px; background: #c6d880;}
      .mail td.definition {font-weight: bolder;}
    </style>
  </head>
  <body style ="background-color: #6299c5">
    <h3>Névjegykártya megrendelés visszaigazolása a Perfect Lines Digitális nyomdától</h3>
    <h4>Tisztelt <%= @order.contact_name %>!</h4>
    Köszönjük megrendelését, amelyet rendszerünkben rögzítettünk!<br/>
    Szükség esetén - például adatpontosítás céljából - munkatársunk
    az Ön által megadott elérhetőségén fogja keresni Önt.
    <h4>A megrendelés adatai:</h4>
    <table class ="mail">
      <tr>
        <td class ="definition">
          Névjegykártya típusa (papír és felület):
        </td>
        <td class ="value">
          <%= t("simple_form.values.order.order_type.#{@order.order_type}") %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Nyomtatás módja:
        </td>
        <td class ="value">
          <%= t("simple_form.values.order.print.#{@order.print}") %><br/>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Darabszám:
        </td>
        <td class ="value">
          <%= @order.quantity %><br/>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Nyomtatásra kész:
        </td>
        <td class ="value">
          <% if @order.print_ready %>
            igen, teljesen kész anyagot küldtem
          <% else %>
            nem küldtem teljesen kész anyagot
          <% end %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Kapcsolattartó neve:
        </td>
        <td class ="value">
          <%= @order.contact_name %><br/>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Kapcsolattartó telefonszáma:
        </td>
        <td class ="value">
          <%= @order.contact_phone %><br/>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Kapcsolattartó email címe:
        </td>
        <td class ="value">
          <%= @order.contact_mail %><br/><br/>
        </td>
      </tr>
    </table>
    Ezt a levelet a rendszer automatikusan küldi minden Megrendelőnknek.
    Amennyiben a megrendeléssel vagy a rendszer működésével kapcsolatos kérdése van,
    válaszlevélben külde el nekünk, vagy keressen minket a 215-7719-es telefonszámon!
    <h4>Üdvözlettel: A Perfect Lines Digitális nyomda csapata</h4>
  </body>
</html>
