<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<fieldset>
  <%= content_tag(:legend, "1. Tekintse át az egyes típusokhoz tartozó árakat!" ) %>
  <div class ="kerdojel"> ? <%= content_tag(:span, "Útmutató a Névjegykártya ártáblázathoz" ) %></div>
  <span>Áfás árak:</span>
  <br /><br />
  <table>
    <thead>
      <tr>
        <th>Típus</th>
        <th>Anyag és felület</th>
        <th>Nyomtatás</th>
        <th class ="darabszam">100 db</th>
        <th class ="darabszam">200 db</th>
        <th class ="darabszam">300 db</th>
        <th class ="darabszam">500 db</th>
        <th class ="darabszam">1000 db</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th rowspan ="5" class ="tipus">A</th>
        <th rowspan ="5" id ="alaptipus"><%= t("simple_form.values.order.order_type.A") %></th>
        <th><%= t("simple_form.values.order.print.A") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr class ="valto">
        <th><%= t("simple_form.values.order.print.B") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr>
        <th><%= t("simple_form.values.order.print.C") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr class ="valto">
        <th><%= t("simple_form.values.order.print.D") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr>
        <th><%= t("simple_form.values.order.print.E") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <%#*-------------  Extra árak  ----------------%>
      <tr>
        <th colspan ="8"><%= t("simple_form.values.order.extra") %></th>
      </tr>
      <tr>
        <th class ="tipus">B</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.B") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr class ="valto">
        <th class ="tipus">C</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.C") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr>
        <th class ="tipus">D</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.D") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr class ="valto">
        <th class ="tipus">E</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.E") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr>
        <th class ="tipus">F</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.F") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr class ="valto">
        <th class ="tipus">G</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.G") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr>
        <th class ="tipus">H</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.H") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
      <tr class ="valto">
        <th class ="tipus">I</th>
        <th colspan ="2"><%= t("simple_form.values.order.order_type.I") %></th>
        <td>20</td> <td>18</td> <td>16</td> <td>14</td> <td>12</td>
      </tr>
    </tbody>
  </table>
</fieldset>
