<%= form_for @order do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t("order.name") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t("order.price") %><br />
    <%= f.text_field :price %>
  </p>
  <p><%= f.submit %></p>
<% end %>
