<h1>Listing orders</h1>

<table>
  <tr>
    <th><%= image_tag @user.avatar.url %></th>
    <th>Type</th>
    <th>Print</th>
    <th>Corner</th>
    <th>Quantity</th>
    <th>Print ready</th>
    <th>Price</th>
    <th>Contact name</th>
    <th>Contact phone</th>
    <th>Contact mail</th>
    <th>Contact note</th>
    <th>Billing name</th>
    <th>Billing address</th>
    <th>Delivery note</th>
    <th>Takeover</th>
    <th>Payment</th>
    <th>Order note</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.type %></td>
    <td><%= order.print %></td>
    <td><%= order.corner %></td>
    <td><%= order.quantity %></td>
    <td><%= order.print_ready %></td>
    <td><%= order.price %></td>
    <td><%= order.contact_name %></td>
    <td><%= order.contact_phone %></td>
    <td><%= order.contact_mail %></td>
    <td><%= order.contact_note %></td>
    <td><%= order.billing_name %></td>
    <td><%= order.billing_address %></td>
    <td><%= order.delivery_note %></td>
    <td><%= order.takeover %></td>
    <td><%= order.payment %></td>
    <td><%= order.order_note %></td>
    <td><%= order.status %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
