<% title t("order.title_orders").capitalize %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.price %></td>
      <td><%= link_to t("order.show").capitalize, order %></td>
      <td><%= link_to t("order.edit").capitalize, edit_order_path(order) %></td>
      <td><%= link_to t("order.destroy").capitalize, order, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to t("order.new_order").capitalize, new_order_path(order) %></p>
