<p id="notice"><%= notice %></p>
<%#*-------- Ez csak a mail próbája, később kitörlendő!!! ---------%>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      table.mail {text-align: left; color: #332;}
      .mail td {padding: 6px; background: white;}
      .mail td.definition {font-weight: bolder; background-color: #fff0db}
    </style>
  </head>
  <body>
  <div style ="background-color: wheat; font-family: verdana; padding: 25px">
    <h3>Névjegykártya megrendelés visszaigazolása<br/>
      a Perfect Lines Digitális Nyomdától</h3>
    <h4>Tisztelt <%= @order.contact_name %>!</h4>
    <p>Köszönjük, hogy leadta megrendelését a www.nevjegykartya.perfectlines.hu oldalunkon!
    Ezt rendszerünkben rögzítettünk!</p>
    <p>Szükség esetén (például pontosítás céljából) munkatársunk
    az Ön által megadott elérhetőségén fogja keresni Önt.</p>
    <h4>A megrendelés adatai:</h4>
    <table class ="mail">
      <tr>
        <td class ="definition">
          Névjegykártya típusa (papír és felület):
        </td>
        <td class ="value">
          <%= t("simple_form.values.order.order_type.#{@order.order_type}") %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Nyomtatás módja:
        </td>
        <td class ="value">
          <%= t("simple_form.values.order.print.#{@order.print}") %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Darabszám:
        </td>
        <td class ="value">
          <%= @order.quantity %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Sarokkerekítéssel:
        </td>
        <td class ="value">
          <% if @order.corner %>
            kérem a sarokkerekítést
          <% else %>
            nem kérek sarokkerekítést
          <% end %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Nyomtatásra kész: 
        </td>
        <td class ="value">
          <% if @order.print_ready %>
            igen, teljesen kész anyagot küldtem
          <% else %>
            nem küldtem teljesen kész anyagot
          <% end %>
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td class ="definition">
          Kapcsolattartó neve:
        </td>
        <td class ="value">
          <%= @order.contact_name %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Kapcsolattartó telefonszáma:
        </td>
        <td class ="value">
          <%= @order.contact_phone %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Kapcsolattartó email címe:
        </td>
        <td class ="value">
          <%= @order.contact_mail %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Kapcsolattartó egyéb adatai:
        </td>
        <td class ="value">
          <%= @order.contact_note %>
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td class ="definition">
          Számlázási név:
        </td>
        <td class ="value">
          <%= @order.billing_name %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Számlázási cím:
        </td>
        <td class ="value">
          <%= @order.billing_address %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Szállítási információk:
        </td>
        <td class ="value">
          <%= @order.delivery_note %>
        </td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td class ="definition">
          Átvétel módja:
        </td>
        <td class ="value">
          <% if @order.takeover == "a" %>
            Személyes átvétellel, 48 órán belül
          <% elsif @order.takeover == "b" %>
            Kiszállítással 5 nap alatt (Budapestre ingyenes, vidékre 2.000 Ft)
          <% else %>
            Kiszállítással 48 óra alatt (csak Budapesten - 2.000 Ft)
          <% end %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Fizetés módja:
        </td>
        <td class ="value">
          <% if @order.payment == "a" %>
            Előzetes átutalással
          <% else %>
            Átvételkor készpénzzel (15.000 Ft alatti megrendelés esetén választható)
          <% end %>
        </td>
      </tr>
      <tr>
        <td class ="definition">
          Megrendeléssel kapcsolatos megjegyzések:
        </td>
        <td class ="value">
          <%= @order.order_note %>
        </td>
      </tr>
    </table>
    <br />
    Ezt a levelet a rendszer automatikusan küldi minden Megrendelőnknek.
    Amennyiben a megrendeléssel vagy a rendszer működésével kapcsolatos kérdése van,
    válaszlevélben küldje el nekünk, vagy keressen minket a 215-7719-es telefonszámon!
    <h4>Üdvözlettel: A Perfect Lines Digitális Nyomda csapata</h4>
  </div>
  </body>
</html>
<%#*---------------------------------------------------%>
<div class="box">
  <div id="boxtitle">
    A megrendelés adatai
  </div>
  <p>
    <b>Type:</b>
    <%= @order.type %>
  </p>

  <p>
    <b>Print:</b>
    Nyomtatás: <%= t("simple_form.values.order.print.#{@order.print}") %>
    <%= @order.print %>
  </p>

  <p>
    <b>Corner:</b>
    <%= @order.corner %>
  </p>

  <p>
    <b>Quantity:</b>
    <%= @order.quantity %>
  </p>

  <p>
    <b>Print ready:</b>
    <%= @order.print_ready %>
  </p>

  <p>
    <b>Price:</b>
    <%= @order.price %>
  </p>

  <p>
    <b>Contact name:</b>
    <%= @order.contact_name %>
  </p>

  <p>
    <b>Contact phone:</b>
    <%= @order.contact_phone %>
  </p>

  <p>
    <b>Contact mail:</b>
    <%= @order.contact_mail %>
  </p>

  <p>
    <b>Contact note:</b>
    <%= @order.contact_note %>
  </p>

  <p>
    <b>Billing name:</b>
    <%= @order.billing_name %>
  </p>

  <p>
    <b>Billing address:</b>
    <%= @order.billing_address %>
  </p>

  <p>
    <b>Delivery note:</b>
    <%= @order.delivery_note %>
  </p>

  <p>
    <b>Takeover:</b>
    <%= @order.takeover %>
  </p>

  <p>
    <b>Payment:</b>
    <%= @order.payment %>
  </p>

  <p>
    <b>Order note:</b>
    <%= @order.order_note %>
  </p>

  <p>
    <b>Status:</b>
    <%= @order.status %>
  </p>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
