<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @order.type %>
</p>

<p>
  <b>Print:</b>
  <%= @order.print %>
</p>

<p>
  <b>Corner:</b>
  <%= @order.corner %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Print ready:</b>
  <%= @order.print_ready %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Contact name:</b>
  <%= @order.contact_name %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @order.contact_phone %>
</p>

<p>
  <b>Contact mail:</b>
  <%= @order.contact_mail %>
</p>

<p>
  <b>Contact note:</b>
  <%= @order.contact_note %>
</p>

<p>
  <b>Billing name:</b>
  <%= @order.billing_name %>
</p>

<p>
  <b>Billing address:</b>
  <%= @order.billing_address %>
</p>

<p>
  <b>Delivery note:</b>
  <%= @order.delivery_note %>
</p>

<p>
  <b>Takeover:</b>
  <%= @order.takeover %>
</p>

<p>
  <b>Payment:</b>
  <%= @order.payment %>
</p>

<p>
  <b>Order note:</b>
  <%= @order.order_note %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
