<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="head2">
        <div id="heading">
          névjegykártya online
        </div>
        <div id="nav">
            <ul>
                <li>
                    <a class="rounded-corners-kicsi" href="#" target="_self">Kezdőlap</a>
                </li>
                <li>
                  <a class="rounded-corners-kicsi" href="#" target="_self">Áraink - megrendelés</a>
                </li>
                <li>
                    <a class="rounded-corners-kicsi" href="#" target="_self">Megrendelés menete</a>
                </li>
                <li>
                    <a class="rounded-corners-kicsi" href="#" target="_self">Elérhetőség</a>
                </li>
                <li id="aktivmenupont">
                    <a class="rounded-corners-kicsi" href="#" target="_self">Teljesítési feltételek</a>
                </li>
                <li>
                    <a class="rounded-corners-kicsi" href="#" target="_self">GY.I.K.</a>
                </li>
            </ul>
        </div><!-- nav div vége  -->

      </div>
      <div id="content">
        <div id="content_inside" class="rounded-corners">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <%= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
