<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="head2">
        <div id="heading">
          névjegykártya online
        </div>
        <div id="nav">
            <ul>
                <li>
                  <%= link_to "kezdőlap", :controller => "pages", :action => "home" %>
                </li>
                <li>
                  <%= link_to "áraink - megrendelés", orders_path %>
                </li>
                <li>
                  <%= link_to "megrendelés menete", :controller => "pages", :action => "order_description" %>
                </li>
                <li>
                  <%= link_to "elérhetőség", :controller => "pages", :action => "contact" %>
                </li>
                <li>
                  <%= link_to "teljesítési feltételek", :controller => "pages", :action => "policy" %>
                </li>
                <li>
                  <%= link_to "GY.I.K.", :controller => "pages", :action => "faq" %>
                </li>
            </ul>
        </div><!-- nav div vége  -->

      </div>
      <div id="content">
        <h3>Ezek a közös szövegek</h3>
        <div id="content_inside" class="rounded-corners">
        <%#*<div id="content_inside" class="rounded-corners">%>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <%= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
