<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="head2">
        <div id="heading">
          névjegykártya online
        </div>
            <%  @menu_items = [
              {:link_text => "kezdőlap",                :contr => "pages",  :action => "home"},
              {:link_text => "áraink - megrendelés",    :contr => "orders", :action => "index"},
              {:link_text => "megrendelés menete",      :contr => "pages",  :action => "order_description"},
              {:link_text => "elérhetőség",             :contr => "pages",  :action => "contact"},
              {:link_text => "teljesítési feltételek",  :contr => "pages",  :action => "policy"},
              {:link_text => "GY.I.K.",                 :contr => "pages",  :action => "faq"}
             ] %>
            <div id="nav">
            <ul>
                <% @menu_items.each do |x| %>
                  <% if $aktualis == x[:action] %>
                      <li class="aktualis">
                  <% else %>
                      <li>
                  <% end %>
                        <%= link_to x[:link_text], :controller => x[:contr], :action => x[:action] %>
                      </li>
                <% end %>
            </ul>
            </div><!-- nav div vége  -->
      </div>
      <div id="content">
        <h3>Ezek a közös szövegek</h3>
        <div id="content_inside" class="rounded-corners">
        <%#*<div id="content_inside" class="rounded-corners">%>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <%= content_tag :h1, yield(:title) if show_title? %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
