<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title).capitalize : "Untitled" %></title>
    <%#= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%#= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="head2">
        <div id="heading">
          névjegykártya online
        </div>
        <a href="/pages/home" id="logo">
          <%=image_tag "Nevjegykartya_logo.png" %>
        </a>
        <%  @menu_items = [
          {:link_text => ". . .",                   :contr => "pages",  :action => "home", :z => "z6"},
          {:link_text => "áraink - megrendelés",    :contr => "orders", :action => "new", :z => "z5"},
          {:link_text => "megrendelés menete",      :contr => "pages",  :action => "order_description", :z => "z4"},
          {:link_text => "elérhetőség",             :contr => "pages",  :action => "contact", :z => "z3"},
          {:link_text => "teljesítési feltételek",  :contr => "pages",  :action => "policy", :z => "z2"},
          {:link_text => "GY.I.K.",                 :contr => "pages",  :action => "faq", :z => "z1"}
         ] %>
        <div id="nav">
          <ul>
              <% @menu_items.each do |x| %>
                <% if x[:link_text] == ". . ." and !(x[:action] == $aktualis) %>
                    <li class="menu_home">
                <% elsif x[:link_text] == ". . ." and x[:action] == $aktualis %>
                    <li class="menu_home_actual">
                <% elsif x[:action] == $aktualis %>
                    <li class="menu_actual">
                <% else %>
                    <li>
                <% end %>
                      <%= link_to x[:link_text], {:controller => x[:contr], :action => x[:action]}, :class => "#{x[:z]}" %>
                    </li>
              <% end %>
          </ul>
        </div><!-- nav div vége  -->
      </div>
      <div id="content">
        <%#*---------------------------------------------------------------%>
        <%#*A controller-ből és a template-ből is kiírhatjuk a címet: %>
        <%#= content_tag :a, "controller-ből: ", :class => "comment"%>
        <%#= content_tag :h1, "#{ @title }"%>

        <%#= content_tag :a, "template-ből:", :class => "comment" %>
        <%= content_tag :h1, "#{yield(:title) if show_title?}" %>
        <%#*---------------------------------------------------------------%>
        <%#*<div id="content_inside" class="rounded-corners">%>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
        <%#*</div>%>
      </div>
    </div>
  </body>
</html>
